body{
  background-color:white;
}           
      
h1{
 font-family: Roboto Thin;
 font-size: xx-large;
 color: rgba(216, 86, 86, 0.856);
 padding-top: 0px;
}

nav{
 width:100%;
 Height:50px;
}

ul li{
  list-style:none;
  display:inline-block;

}
 
ul li a{
 display: block;
  text-decoration: none;
  font-size: x-large;
  font-family: Roboto Thin;
  color:rgba(216, 86, 86, 0.856);
  padding: 20px 20px;
  font-weight: 900;
} 

ul li a:hover{
color:white;
} 
 
ul li a:hover{
 background-color: rgba(216, 86, 86, 0.856);
} 

.div1{
  background-color:rgb(231, 224, 224);
  font-family: Roboto Thin;
  text-align: center;
  top:0px;
  width:100%;
  padding-top: 10px;
  font-size:large;
  color: rgba(216, 86, 86, 0.856);
  padding-bottom: 20px;
}

.div2{
  background-color: rgba(216, 86, 86, 0.856);
  width:94.7%;
  font-family: Roboto Thin;
  font-size: x-large;
  color:white;
  padding-top: 50px;
  padding-left:50px;
  padding-right: 50px;
  padding-bottom:130px;
}


   